<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.bpm"
      versionCode = "1"
        version   = "1.1.0">
<!-- versionCode is optional and Android only -->

    <name>BPM Counter</name>

    <description>
        An app that counts beats per minute when you tap the screen.
    </description>

    <author href="http://bog-com.stackstaging.com" email="bogmuscalu@gmail.com">
        Bogdan Muscalu
    </author>

    <preference name="windows-appx-target" value="8.1-phone" />

</widget>
